.overlay {
    visibility: hidden;
    position: fixed;
    width:100%;
    min-height:100%;
    top: 0;
    left: 0;
    background-color: #1C1C21;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: visibility .3s, opacity .3s;
    overflow: hidden;
}