.modal {
    min-width: 720px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.close {
    position: absolute;
    right: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.ul {
    display: flex;
    min-width: 520px;
    justify-content: space-between;
}

.ul > li {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #8585AD;
}