.wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
}

.list {
    position: relative;
    overflow-y:scroll;
    position: relative;
    height: 790px;
}

.list::-webkit-scrollbar { 
    width: 10px;
}

.list::-webkit-scrollbar-track {
    background-color: #2F2F37;
}

.list::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}