.wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
}

.list {
    position: relative;
    overflow-y:scroll;
    position: relative;
    height: 790px;
}

.list::-webkit-scrollbar { 
    display: none; 
}