body {
  margin: 0;
  background-color: #131316;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 2em;
  margin: 0;
}

p {
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #F2F2F3;
}

ul {
  list-style: none;
  padding: 0
}