.main {
  box-sizing: border-box;
  max-width: 1240px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.resetForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 480px;
  min-height: 286px;
  justify-content: space-between;
}

.resetForm > div > div {
  width: 480px;
}

.resetFormWrapper {
  min-height: 427px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 138px;
}

.formSpan {
  color: #8585AD;
  margin-right: 8px;
}

.navLink {
  color: #4C4CFF;
}

.navLinkActive {
  color: red;
}

.loginLi {
  display: flex;
  align-items: center;
  justify-content: center;
}
